.DS_Store
*.o
*.d
95bf5763251f491480a0c1e5b76a16d8-original.pdf

hello
encode
decode
test_argv
tes_coding
pre
spell
date_test
test_tag_remover
nstest
nstime
simplebitsettest
bitsettest1
bitsettest2
*.dSYM
